<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439799537108-o54ms1qj0pn3p5nmv8ndgmmcsr9231pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439799537108-o54ms1qj0pn3p5nmv8ndgmmcsr9231pj</string>
	<key>API_KEY</key>
	<string>AIzaSyCvKd9XWATMalj12uUUBv4FatngusMXr8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>439799537108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamAProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>summerhackathon-d2525</string>
	<key>STORAGE_BUCKET</key>
	<string>summerhackathon-d2525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439799537108:ios:d2ceefc264050fba9a8a41</string>
	<key>DATABASE_URL</key>
	<string>https://summerhackathon-d2525-default-rtdb.firebaseio.com</string>
</dict>
</plist>